// {
//   "extends": "eslint-config-egg"
// }
{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:eslint-comments/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "arrow-parens": ["error", "always"]
  }
}
